.card {
    width: 200px;
    flex: 0 0 auto;
    margin: 16px;
    border-radius: 12px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    border: 1px solid white;
    background-color: #050507;
}

.image {
    object-fit: cover;
}

.cardContent {
    padding: 8px 16px;
}

.typography {
    color: #D8D2CB;
}

.typographyBold {
    font-weight: bold;
}